.App {
  text-align: center;
}

#cardListBox {
  display: inline-flex;
  flex-wrap: wrap;
  
  width:60%;
  margin-left: 20px;
}


#cardListBox img {
  
  margin: 1px;
  width: 200px;
  height: 325px;
}

#Scoreboard {
  text-align: left;
  position: absolute;
  top: 1px;
  left: 1px;
 
}

